<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>Emilija Stojmenovska (ESO)</h1>
    </div>
    <div class="col-sm-12 col-md-5">
        <h3>About Me</h3>
        <div class="user-information">
            <div class="card">
                <div class="card-img">
                    <img src="./../../images/emi.jpg">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Short Description</h4>
                    <p class="card-text">
                        Hello, my name is Emilija and I work as an Frontend-developer in the
                        software company Netcetera. I work with HTML, CSS, Javascript, but also
                        with Adobe Illustrator and Adobe Photoshop.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date of birth: 12.03.1994</li>
                    <li class="list-group-item">Job Title: UX Engineer</li>
                    <li class="list-group-item">Degree: Bachelor of Science</li>
                    <li class="list-group-item">Company: Netcetera</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <h3>My Posts</h3>
        <table class="table">
            <thead>
            <tr>
                <th class="left">Date</th>
                <th class="left">Category</th>
                <th class="left">Post</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">07.10.2016</td>
                <td class="left">forms</td>
                <td class="left"><a href="#">Material Design Form</a></td>
            </tr>
            <tr>
                <td class="left">15.01.2017</td>
                <td class="left">Iillustrator Design</td>
                <td class="left"><a href="#">Wemlin Display</a></td>
            </tr>
            <tr>
                <td class="left">23.03.2016</td>
                <td class="left">Sketch Design</td>
                <td class="left"><a href="#">Book.it Home Page</a></td>
            </tr>
            <tr>
                <td class="left">12.04.2017</td>
                <td class="left">grid</td>
                <td class="left"><a href="#">Neon Grid 2016</a></td>
            </tr>
            <tr>
                <td class="left">07.10.2016</td>
                <td class="left">forms</td>
                <td class="left"><a href="#">Material Design Form</a></td>
            </tr>
            <tr>
                <td class="left">15.01.2017</td>
                <td class="left">Iillustrator Design</td>
                <td class="left"><a href="#">Wemlin Display</a></td>
            </tr>
            <tr>
                <td class="left">23.03.2016</td>
                <td class="left">Sketch Design</td>
                <td class="left"><a href="#">Book.it Home Page</a></td>
            </tr>
            <tr>
                <td class="left">12.04.2017</td>
                <td class="left">grid</td>
                <td class="left"><a href="#">Neon Grid 2016</a></td>
            </tr>
            <tr>
                <td class="left">07.10.2016</td>
                <td class="left">forms</td>
                <td class="left"><a href="#">Material Design Form</a></td>
            </tr>
            <tr>
                <td class="left">15.01.2017</td>
                <td class="left">Iillustrator Design</td>
                <td class="left"><a href="#">Wemlin Display</a></td>
            </tr>
            <tr>
                <td class="left">23.03.2016</td>
                <td class="left">Sketch Design</td>
                <td class="left"><a href="#">Book.it Home Page</a></td>
            </tr>
            <tr>
                <td class="left">12.04.2017</td>
                <td class="left">grid</td>
                <td class="left"><a href="#">Neon Grid 2016</a></td>
            </tr>
            <tr>
                <td class="left">07.10.2016</td>
                <td class="left">forms</td>
                <td class="left"><a href="#">Material Design Form</a></td>
            </tr>
            <tr>
                <td class="left">15.01.2017</td>
                <td class="left">Iillustrator Design</td>
                <td class="left"><a href="#">Wemlin Display</a></td>
            </tr>
            <tr>
                <td class="left">23.03.2016</td>
                <td class="left">Sketch Design</td>
                <td class="left"><a href="#">Book.it Home Page</a></td>
            </tr>
            <tr>
                <td class="left">12.04.2017</td>
                <td class="left">grid</td>
                <td class="left"><a href="#">Neon Grid 2016</a></td>
            </tr>
            <tr>
                <td class="left">07.10.2016</td>
                <td class="left">forms</td>
                <td class="left"><a href="#">Material Design Form</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

