<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>Emilija Stojmenovska (ESO)</h1>
    </div>
    <div class="col-sm-12 col-md-5">
        <h3>About Me</h3>
        <div class="user-information">
            <div class="card">
                <div class="card-img">
                    <img src="./../../images/emi.jpg">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut.
                        Nihil nemo, necessitatibus earum.
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Lorem ipsum dolor.</li>
                    <li class="list-group-item">Lorem ipsum dolor sit.</li>
                    <li class="list-group-item">Lorem ipsum.</li>
                </ul>
                <div class="card-footer">
                    <a href="..." class="btn btn-sm btn-link">Action 1</a>
                    <a href="..." class="btn btn-sm btn-link">Action 2</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7">
        <h3>My Posts</h3>
        <table class="table">
            <thead>
            <tr>
                <th class="left">Date</th>
                <th>Category</th>
                <th>Post</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">07.10.2016</td>
                <td >forms</td>
                <td>Material Design Form</td>
            </tr>
            <tr>
                <td class="left">15.01.2017</td>
                <td>Iillustrator Design</td>
                <td>Wemlin Display</td>
            </tr>
            <tr>
                <td class="left">23.03.2016</td>
                <td>Sketch Design</td>
                <td>Book.it Home Page</td>

            </tr>
            <tr>
                <td class="left">grid</td>
                <td>King Arthur</td>
                <td>Neon Grid 2016</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

