<h3>Basic table</h3>
<div class="row col-xs-12">
    <table class="table">
        <thead>
        <tr>
            <th>Decimal</th>
            <th>Hexadecimal</th>
            <th>Binary</th>
            <th>Roman Numeral</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>I</td>
        </tr>
        <tr>
            <td>5</td>
            <td>5</td>
            <td>101</td>
            <td>V</td>
        </tr>
        <tr>
            <td>10</td>
            <td>A</td>
            <td>1010</td>
            <td>X</td>
        </tr>
        <tr>
            <td>15</td>
            <td>F</td>
            <td>1111</td>
            <td>XV</td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Aligned tables</h3>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <h5>Left Aligned</h5>
        <table class="table table-left">
            <thead>
            <tr>
                <th>Wizard</th>
                <th>Allegiance</th>
                <th>Triwizard Champion?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Harry</td>
                <td>Gryffindor</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Gandalf</td>
                <td>Hobbits</td>
                <td>Maybe?</td>
            </tr>
            <tr>
                <td>Obi-Wan Kenobi</td>
                <td>Republic/Rebellion</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Merlin</td>
                <td>King Arthur</td>
                <td>Probably invented the tournament</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <h5>Center Aligned</h5>
        <table class="table table-center">
            <thead>
            <tr>
                <th>Wizard</th>
                <th>Allegiance</th>
                <th>Triwizard Champion?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Harry</td>
                <td>Gryffindor</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Gandalf</td>
                <td>Hobbits</td>
                <td>Maybe?</td>
            </tr>
            <tr>
                <td>Obi-Wan Kenobi</td>
                <td>Republic/Rebellion</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Merlin</td>
                <td>King Arthur</td>
                <td>Probably invented the tournament</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4 col-sm-12">
        <h5>Right Aligned</h5>
        <table class="table table-right">
            <thead>
            <tr>
                <th>Wizard</th>
                <th>Allegiance</th>
                <th>Triwizard Champion?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Harry</td>
                <td>Gryffindor</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Gandalf</td>
                <td>Hobbits</td>
                <td>Maybe?</td>
            </tr>
            <tr>
                <td>Obi-Wan Kenobi</td>
                <td>Republic/Rebellion</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Merlin</td>
                <td>King Arthur</td>
                <td>Probably invented the tournament</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>No borders table</h3>
<div class="row col-xs-12">
    <table class="table table-noborder">
        <thead>
        <tr>
            <th class="left">Monster</th>
            <th>Home</th>
            <th>Likes Cookies</th>
            <th class="left">Fun to Play With</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="left">Wolfman</td>
            <td>Nondisclosed countryside</td>
            <td>Sometimes</td>
            <td class="left">Not really</td>
        </tr>
        <tr>
            <td class="left">Mothra</td>
            <td>Tropical island</td>
            <td>No</td>
            <td class="left">Only if you have a flashlight</td>
        </tr>
        <tr>
            <td class="left">Oscar the Grouch</td>
            <td>Sesame Street</td>
            <td>No</td>
            <td class="left">No</td>
        </tr>
        <tr>
            <td class="left">Cookie Monster</td>
            <td>Sesame Street</td>
            <td>Definitely yes</td>
            <td class="left">Only if you have no cookies</td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Borders table</h3>
<div class="row col-xs-12">
    <table class="table table-border">
        <thead>
        <tr>
            <th class="left">Monster</th>
            <th>Home</th>
            <th>Likes Cookies</th>
            <th class="left">Fun to Play With</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="left">Wolfman</td>
            <td>Nondisclosed countryside</td>
            <td>Sometimes</td>
            <td class="left">Not really</td>
        </tr>
        <tr>
            <td class="left">Mothra</td>
            <td>Tropical island</td>
            <td>No</td>
            <td class="left">Only if you have a flashlight</td>
        </tr>
        <tr>
            <td class="left">Oscar the Grouch</td>
            <td>Sesame Street</td>
            <td>No</td>
            <td class="left">No</td>
        </tr>
        <tr>
            <td class="left">Cookie Monster</td>
            <td>Sesame Street</td>
            <td>Definitely yes</td>
            <td class="left">Only if you have no cookies</td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Compact table</h3>
<div class="row col-xs-12">
    <table class="table table-compact">
        <thead>
        <tr>
            <th class="left">Monster</th>
            <th>Home</th>
            <th>Likes Cookies</th>
            <th class="left">Fun to Play With</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="left">Wolfman</td>
            <td>Nondisclosed countryside</td>
            <td>Sometimes</td>
            <td class="left">Not really</td>
        </tr>
        <tr>
            <td class="left">Mothra</td>
            <td>Tropical island</td>
            <td>No</td>
            <td class="left">Only if you have a flashlight</td>
        </tr>
        <tr>
            <td class="left">Oscar the Grouch</td>
            <td>Sesame Street</td>
            <td>No</td>
            <td class="left">No</td>
        </tr>
        <tr>
            <td class="left">Cookie Monster</td>
            <td>Sesame Street</td>
            <td>Definitely yes</td>
            <td class="left">Only if you have no cookies</td>
        </tr>
        </tbody>
    </table>
</div>

<h3>Vertical table</h3>
<div class="row col-xs-6">
    <table class="table table-vertical">
        <tbody>
        <tr>
            <th>Basic table</th>
            <td>.table</td>
            <td>...</td>
        </tr>
        <tr>
            <th>Left-aligned table cells</th>
            <td>.left</td>
            <td>...</td>
        </tr>
        <tr>
            <th>Tables without borders</th>
            <td>.table-noborder</td>
            <td>...</td>
        </tr>
        <tr>
            <th>Compact tables</th>
            <td>.table-compact</td>
            <td>...</td>
        </tr>
        <tr>
            <th>Vertical tables</th>
            <td>.table-vertical</td>
            <td>...</td>
        </tr>
        </tbody>
    </table>
</div>

<h3></h3>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
        <table class="table">
            <thead>
            <tr>
                <th class="left">Language</th>
                <th>Foo</th>
                <th>Bar</th>
                <th>Baz</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">Pig Latin</td>
                <td>Oofay</td>
                <td>Arbay</td>
                <td>Azbay</td>
            </tr>
            <tr>
                <td class="left">Bizarro</td>
                <td>Bar</td>
                <td>Foo</td>
                <td>Bang</td>
            </tr>
            <tr>
                <td class="left">Hodor</td>
                <td>Hodor</td>
                <td>Hodor</td>
                <td>Hodor</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
        <table class="table">
            <thead>
            <tr>
                <th class="left">Color</th>
                <th>R</th>
                <th>G</th>
                <th>B</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">Black</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="left">New Black</td>
                <td>255</td>
                <td>165</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="left">Pantone 292</td>
                <td>98</td>
                <td>168</td>
                <td>229</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
        <table class="table">
            <thead>
            <tr>
                <th class="left">Name</th>
                <th class="left">Weakness</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">Frankenstein</td>
                <td class="left">Fire</td>
            </tr>
            <tr>
                <td class="left">Dracula</td>
                <td class="left">Garlic</td>
            </tr>
            <tr>
                <td class="left">Wolfman</td>
                <td class="left">Squirrels</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
