<div class="row">
    <div class="col-xs"></div>
    <div class="col-xs-10">
        <div class="row">
            <div class="col-xs-6">
                <h1>Illustrator Visual Designs</h1>
            </div>
            <div class="col-xs-6">
                <form>
                    <div class="form-search">
                        <input class="search" type="text" placeholder="Search"><clr-icon class="search-icon" shape="search"></clr-icon>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <app-visual-design-post></app-visual-design-post>
        </div>
        <div class="row">
            <app-visual-design-post></app-visual-design-post>
        </div>
        <div class="row">
            <app-visual-design-post></app-visual-design-post>
        </div>
    </div>
    <div class="col-xs"></div>
</div>
