<div class="row">
<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="./../../images/screen2.jpg" alt="..." />
            </div>
            <div class="card-block">
                <h3 class="card-title">Title of Project</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>

            </div>
            <div class="card-footer">
                <div class="post-details">
                    <span><clr-icon shape="user"></clr-icon> ESO </span>
                    <span><clr-icon shape="clock"></clr-icon>12.09.2016</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="./../../images/screen1.png" alt="..." />
            </div>
            <div class="card-block">
                <h3 class="card-title">Title of Project</h3>
                <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, dolor sit amet, consectetur adipisicing elit.
                </p>

            </div>
            <div class="card-footer">
                <div class="post-details">
                    <span><clr-icon shape="user"></clr-icon> ESO </span>
                    <span><clr-icon shape="clock"></clr-icon>12.09.2016</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <a href="..." class="card clickable">
            <div class="card-img">
                <img src="./../../images/screen3.png" alt="..." />
            </div>
            <div class="card-block">
                <h3 class="card-title">Title of Project</h3>
                <p class="card-text">
                   Molestias officiis temporibus quod inventore, minus commodi similique corrupti repellat saepe facere aliquam minima deserunt esse nemo, vel illum optio necessitatibus deleniti
                </p>

            </div>
            <div class="card-footer">
                <div class="post-details">
                    <span><clr-icon shape="user"></clr-icon> ESO </span>
                    <span><clr-icon shape="clock"></clr-icon>12.09.2016</span>
                </div>
            </div>
        </a>
    </div>
</div>
