<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">UXO Custom components</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text">About</span></a>
          <a class="nav-link" href="#" [routerLink]="['/personal-space']" routerLinkActive="active"><span class="nav-text">My Profile</span></a>
      </div>
      <div class="header-actions">
          <clr-dropdown>
              <button class="nav-icon" clrDropdownTrigger>
                  <clr-icon shape="cog"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                  <a href="#" clrDropdownItem>About</a>
                  <a href="#" clrDropdownItem>Preferences</a>
                  <a href="#" clrDropdownItem>Log out</a>
              </clr-dropdown-menu>
          </clr-dropdown>
          <clr-dropdown>
              <button class="nav-icon" clrDropdownTrigger>
                  <clr-icon shape="user"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
              </button>
              <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                  <a href="#" clrDropdownItem>About</a>
                  <a href="#" clrDropdownItem>Preferences</a>
                  <a href="#" clrDropdownItem>Log out</a>
              </clr-dropdown-menu>
          </clr-dropdown>
      </div>
  </clr-header>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav [clrVerticalNavCollapsible]="collapsible" [(clrVerticalNavCollapsed)]="collapsed">
          <button class="nav-trigger" type="button">
            <clr-icon class="nav-trigger-icon" shape="angle-double" dir="left"></clr-icon>
          </button>
          <div class="nav-content">
              <a clrVerticalNavLink href="#" [routerLink]="['/forms']" routerLinkActive="active">
                  <clr-icon clrVerticalNavIcon shape="code"></clr-icon>
                  Form
              </a>
              <a clrVerticalNavLink href="#" [routerLink]="['/tables']" routerLinkActive="active">
                  <clr-icon clrVerticalNavIcon shape="code"></clr-icon>
                  Tables
              </a>
              <a clrVerticalNavLink href="#" [routerLink]="['/modals']" routerLinkActive="active">
                  <clr-icon clrVerticalNavIcon shape="code"></clr-icon>
                  Modals
              </a>
              <a clrVerticalNavLink [routerLink]="['/grids']" routerLinkActive="active">
                  <clr-icon clrVerticalNavIcon shape="code"></clr-icon>
                  CSS Grids
              </a>
              <a clrVerticalNavLink [routerLink]="['/illustrator-design']" routerLinkActive="active">
                  <clr-icon clrVerticalNavIcon shape="display"></clr-icon>
                  Designs Illustrator
              </a>
              <a clrVerticalNavLink [routerLink]="['/photoshop-design']"  routerLinkActive="active">
                  <clr-icon clrVerticalNavIcon shape="display"></clr-icon>
                  Designs Sketch
              </a>
              <a clrVerticalNavLink [routerLink]="['/sketch-design']" routerLinkActive="active">
                  <clr-icon clrVerticalNavIcon shape="display"></clr-icon>
                  Designs Photoshop
              </a>
          </div>
      </clr-vertical-nav>
  </div>
</clr-main-container>
