<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>Basic text input</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs"></div>
    <div class="col-xs-8">
        <h3>Material Design Form</h3>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <iframe height='300' scrolling='no' title='Material Register' src='//codepen.io/Emilija94/embed/preview/rweXGE/?height=429&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/Emilija94/pen/rweXGE/'>Material Register</a> by Emilija Stojmenovska (<a href='https://codepen.io/Emilija94'>@Emilija94</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
    <div class="col-xs"></div>
</div>

<div class="row">
    <div class="col-xs"></div>
    <div class="col-xs-8">
        <h3>Material Design Form</h3>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <iframe height='300' scrolling='no' title='Material Register' src='//codepen.io/Emilija94/embed/preview/rweXGE/?height=429&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/Emilija94/pen/rweXGE/'>Material Register</a> by Emilija Stojmenovska (<a href='https://codepen.io/Emilija94'>@Emilija94</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
    <div class="col-xs"></div>
</div>

<div class="row">
    <div class="col-xs"></div>
    <div class="col-xs-8">
        <h3>Material Design Form</h3>
        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <iframe height='300' scrolling='no' title='Material Register' src='//codepen.io/Emilija94/embed/preview/rweXGE/?height=429&theme-id=dark&default-tab=css,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/Emilija94/pen/rweXGE/'>Material Register</a> by Emilija Stojmenovska (<a href='https://codepen.io/Emilija94'>@Emilija94</a>) on <a href='https://codepen.io'>CodePen</a>.
        </iframe>
    </div>
    <div class="col-xs"></div>
</div>
